*{
    margin: 0;
}
body{
    background-color: #fbf8e0;
}
.side-bar{
    background-color: #cfd7c7;
    margin-left: 0;
    margin-right: auto;
    width: 25%;
    height: 100vh;
    position:fixed
}
#noscroll1{
    width: 24.75%;
}
#menu{
    display: block;
    margin-top: 20px;
}
.menu-button{
    text-align: right;
    margin-right: 10px;
}
#side-bar-menu{
    float: right;
    margin-top: 5vh;
    margin-right: 25px;
}
#title{
    display: flex;
    margin-bottom: 1vh;
}
#title-text{
    margin-top: auto;
    margin-bottom: auto;
}
.doodles{
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 20vw;
    transition: 0.5s;
}
h1{
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #0b2027;
    text-align: right;
    font-size: 28pt;
    user-select: none;
}
h2{
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #3f8c60;
    text-align: right;
    font-size: 22pt;
    user-select: none;
}
a{
    text-decoration: none;
}
h3{
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #0b2027;
    text-align: right;
    font-size: 15pt;
    margin-bottom: 8px;
    user-select: none;
}
h3:hover{
    color: #70a98a;
}
h3:active{
    color: #3f8c60;
}
p{
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #0b2027;
    font-size: 12pt;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 22px;
}
b{
    color: #3f8c60;
}
.selected{
    color: #3f8c60;
}
.centered{
    text-align: center;
    display: block;
    border-style: none none solid none;
    border-color: #3f8c60;
}
.about-image{
    max-width:22vw;
    max-height:34vw;
    width: ;
    height: auto
}
.about-content{
    display: flex;
    background-color: #cfd7c7;
    padding: 20px;
}
.logo{
    margin-top: 10px;
    margin bottom: 10px;
    width: 100px;
}
#scrollable{
    background-color: #fbf8e0;
    margin-left: auto;
    margin-right: 15%;
    width: 50%;
}
#notscrollable{
    background-color: #fbf8e0;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 5%;
    width: 65%;
}
.filler{
    width: 100%;
    margin-left: auto;
}
.project-entry{
    background-color: #0b2027;
    width: 100%;
    height: 17vw;
    margin-bottom: 3vw;
    background-size: cover;
    background-position-y: center;
    background-clip: border-box;
    filter: saturate(50%);
    transition-property: background-image;
    transition-duration: 0.2s;
}
.project-entry:hover{
    filter: saturate(100%);
}
#spacer{
    height: 5vh;
    background-color: #fbf8e0;
}
.title-wrapper{
    width: 100%;
    height: 100%;
    transition: 0.2s;
    position: relative;
}
.title-wrapper:hover{
    opacity: 0;
}
.title{
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 60%;
    height: 60%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-clip: border-box;
    background-image: url(../images/logo.png);
}
.title.astral{
    background-image: url(../images/astral-ores-logo.png);
}
.project-entry.astral{
    background-image: url(../images/astral-ores-thumbnail.jpg);
}
.project-entry.astral:hover{
    background-image: url(../images/astral-ores-gif.gif);
}
.title.foundation{
    background-image: url(../images/foundation-logo.png);
}
.project-entry.foundation{
    background-image: url(../images/foundation-thumbnail.jpg);
}
.project-entry.foundation:hover{
    background-image: url(../images/foundation-gif.gif);
}
.title.gong{
    background-image: url(../images/gong-logo.png);
}
.project-entry.gong{
    background-image: url(../images/gong-thumbnail.jpg);
}
.project-entry.gong:hover{
    background-image: url(../images/gong-gif.gif);
}
.title.dive{
    background-image: url(../images/dive-logo.png);
}
.project-entry.dive{
    background-image: url(../images/dive-thumbnail.jpg);
}
.project-entry.dive:hover{
    background-image: url(../images/dive-gif.gif);
}